/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------------------------------- RESET END ----------------------------------------------- */

.container{
    --max-width: 1110px;
    --padding: 1rem;
  
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

body {
    margin: 0;
    padding: 0; /* Add 90px padding to the top */
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;

}

a{
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
}

/* ----------------------------------------------- UNIVERSAL END ------------------------------------------- */

.navbar {
    background: rgba(255, 255, 255, 0.1); /* Lighter glassmorphism effect background */
    backdrop-filter: blur(5px); /* Lighter blur intensity */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
}

.navbar-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navigation links horizontally */
}

.navbar-links li {
    margin: 0 20px;
    font-family: 'Dosis', sans-serif;
}

.navbar-links a {
    text-decoration: none;
    color: #66665f;
    font-weight: 400;
    transition: color 0.3s;
    position: relative;
    transition: color 0.3s, transform 0.3s; /* Added transform transition */
    transform-origin: center bottom;
}

.navbar-links a::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px; /* Height of the gradient underline */
    background: linear-gradient(90deg, #dbd9d9 0%,  #c4c6b1 100%);
    left: 0;
    bottom: -5px; /* Adjust as needed to position the underline */
    opacity: 0;
    transform: scaleX(0); /* Initial state, no width */
    transform-origin: center bottom;
    transition: transform 0.3s, opacity 0.3s;
}

.navbar-links a:hover {
    color: #969693; /* Change the color on hover */
    font-weight: 700;
    transform: translateY(5px); /* Add a slight upward translation on hover */
}

.navbar-links a:hover::after {
    transform: scaleX(1.2) translateY(0px); /* Expand the underline to full width and add upward translation */
    opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* ----------------------------------------------- NAV END ----------------------------------------------------- */

#hit-data{
  padding: 50px;
}

#graph-container {
  padding-top: 80px;
  margin: 0 auto; /* This centers the div */
  max-width: 100%; /* You can set a max-width if needed */
  position: relative; /* Establishes a positioning context for centering */
}

svg {
  display: block; /* Removes the default inline behavior */
  width: 100%; /* Makes the SVG responsive */
  height: auto; /* Adjusts the height while maintaining the aspect ratio */
  max-width: 990px; /* Optional: if you want to limit the maximum size */
  margin: auto; /* Centers the SVG in the container div */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* ----------------------------------------------- GRAPH END ----------------------------------------------------- */

.bar {
    padding-top: 50px;
    display: flex; /* Display the bar as a flex container */
    margin: 0 auto; /* This centers the div */
    max-width: 90%; /* You can set a max-width if needed */
    position: relative; /* Establishes a positioning context for centering */
    overflow: hidden; /* Ensure proper containment */
    border-radius: 20px;
    gap: 5px
  }
  
  .first-half {
    flex: 1; /* Take up 1/3 of the available space */
    background-color: #CAF0F8; /* Color of the first half */
    padding: 20px; /* Add some padding for content */
    box-sizing: border-box; /* Include padding in the width */
    font-weight: 300;
    font-size: 20px;
    border-radius: 20px;
  }
  
  .second-half {
    flex: 2; /* Take up 2/3 of the available space */
    height: 100%;
    background-color: #90E0EF; /* Color of the second half */
    padding: 15px; /* Add some padding for content */
    box-sizing: border-box; /* Include padding in the width */
    padding-left: 40px;
    font-weight: 400;
    border-radius: 15px;
  }

/* ----------------------------------------------- ANALYSIS END ----------------------------------------------------- */


  .footer {
    display: flex;
    justify-content: space-between;
    background-color: #19747E;
    padding: 35px;
    color: #fff;
    margin-top: 50px;
  
  }
  
  .footer .column {
    flex: 1;
    padding: 20px;
    border-left: 3px solid #A9D6E5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .footer .first-column {
    flex: 2; /* Takes up more space */
    border-left: none; /* Remove the left border */
  
  }
  
  .column-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer .logo {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer .contact-button {
    background-color: #23abd4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .footer .column-content{
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    padding-bottom: 10px;
    cursor: pointer;
  }
  
  .button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    max-width: 300px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    border-color: #474787;
    color: #474787;
    fill: #474787;
  }
  
  .button-59:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }