{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data NYT Page</title>
    <link rel="stylesheet" href="{% static 'css/data1.css' %}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static 'js/data.js' %}"></script>  <!-- Add this line -->
    <script src="https://kit.fontawesome.com/093b934dd0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500;600;700;800&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>

  <script type="text/javascript">
    var genericHitsData = JSON.parse('{{ generic_hits_json|safe }}');
    var yAxisTitle = "{{ y_axis_title|escapejs }}";
    console.log(yAxisTitle); // This should output the title to the console
  </script>
  
  <nav class="navbar">
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="#" id="about-link">About</a></li>
            <li><a href="https://github.com/JayPaddle101?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i>  GitHub</a></li>
            <li><a href="mailto:03jaypaddle@gmail.com">Contact</a></li>
        </ul>
  </nav>

  <div id="tooltip" class="tooltip" style="opacity:0;"></div>
  <div id="graph-container">
    <svg width="960" height="500" viewBox="0 0 960 520"></svg>
 </div>

  

 <!-- <section id="hit-data">
        <h2>Generic Hit Data</h2>
        <ul>
          {% for hit in generic_hits %}
            <li>{{ hit.title }} - {{ hit.year }}-{{ hit.month }}: {{ hit.hits }} hits</li>
          {% empty %}
            <li>No generic hit data available.</li>
          {% endfor %}
        </ul>
  </section> -->


  <div class="bar">
    <div class="first-half">
        <h2>Analysis & Context</h2>
    </div>
    <div class="second-half">
        <p> The graph presents a visual representation of the frequency with which the term "Metaverse" appeared in The New York Times articles over the past three years. It reveals not only the emerging presence of the Metaverse genre within the publication but also its trajectory, which offers insights into the evolving public and journalistic interest in the concept.

          In the earlier part of the timeline, mentions of "Metaverse" were sparse, indicating limited discussion or relevance of the topic during that period. However, there is a noticeable surge in 2021, suggesting a pivotal moment for the Metaverse. This uptick may correlate with specific industry events or technological advancements that thrust the Metaverse into the limelight.
          
          Despite a subsequent decline from the peak, the enduring presence of the term in articles suggests that the Metaverse continues to maintain a level of significance. The data implies that while the initial novelty may have waned, the concept has established a foothold in the discourse, possibly indicating its integration into broader conversations about technology and society.
          
          The graph serves not only as a metric of popularity but also as a reflection of the Metaverse's transition from a niche concept to a recognized phenomenon within mainstream media. As we interpret the data, it is crucial to consider external factors that might influence these trends, such as market dynamics, consumer interest, and shifts in the technological landscape that could drive or diminish the attention toward the Metaverse.
    </div>
</div>


<footer class="footer">
  <div class="column first-column">
      <div class="logo">&copy; Paddle, Inc.</div>
      <button class="button-59" role="button"><a href="mailto:03jaypaddle@gmail.com">Contact Me</a></button>
  </div>
  <div class="column">
      <a href="/"><div class="column-content">Home</div></a>
      <div class="column-content">About</div>
      <a href="https://github.com/JayPaddle101?tab=repositories" target="_blank"><div class="column-content"><i class="fa-brands fa-github"></i>  GitHub</div></a>
  </div>
  <div class="column">    
      <a href="https://twitter.com/" target="_blank"><div class="column-content"><i class="fa-brands fa-x-twitter"></i></div></a>
      <a href="https://www.apple.com/apple-vision-pro/" target="_blank"><div class="column-content"><i class="fa-brands fa-apple fa-lg"></i></div></a>
      <a href="https://about.meta.com/metaverse/" target="_blank"><div class="column-content"><i class="fa-brands fa-meta"></i></div></a>
  </div>
</footer>

  

   
    

    

</body>
</html>