{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta NYT Page</title>
    <link rel="stylesheet" href="{% static 'css/data.css' %}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static 'js/data.js' %}"></script>  <!-- Add this line -->
    <script src="https://kit.fontawesome.com/093b934dd0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500;600;700;800&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>

  <script type="text/javascript">
    var genericHitsData = JSON.parse('{{ generic_hits_json|safe }}');
  </script>
  
  <nav class="navbar">
        <ul class="navbar-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#github"><i class="fa-brands fa-github"></i>  GitHub</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
  </nav>


  <div id="graph-container">
    <svg width="960" height="500"></svg>
 </div>
  

 <!-- <section id="hit-data">
        <h2>Generic Hit Data</h2>
        <ul>
          {% for hit in generic_hits %}
            <li>{{ hit.title }} - {{ hit.year }}-{{ hit.month }}: {{ hit.hits }} hits</li>
          {% empty %}
            <li>No generic hit data available.</li>
          {% endfor %}
        </ul>
  </section> -->


  <div class="bar">
    <div class="first-half">
        <h2>Analysis & Context</h2>
    </div>
    <div class="second-half">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel erat id justo gravida auctori.</p>
    </div>
</div>


<footer class="footer">
  <div class="column first-column">
      <div class="logo">&copy; Paddle, Inc.</div>
      <button class="button-59" role="button">Contact Me</button>
  </div>
  <div class="column">
      <div class="column-content">Home</div>
      <div class="column-content">About</div>
      <div class="column-content"><i class="fa-brands fa-github"></i>  GitHub</div>
  </div>
  <div class="column">    
      <div class="column-content"><i class="fa-brands fa-x-twitter"></i></div>
      <div class="column-content"><i class="fa-brands fa-apple fa-lg"></i></div>
      <div class="column-content"><i class="fa-brands fa-meta"></i></div>
  </div>
</footer>

  

   
    

    

</body>
</html>